@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes screen-wipe {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

.animate-screen-wipe {
  animation: screen-wipe 0.5s ease-in-out forwards;
}
